aside {
  /* border: 1px solid #444444; */
  margin: 20px;
}
.side_bar_nav {
  border-bottom: none;
  width: 180px;
  margin: 0 auto;
  padding-left: 40px;
}
.side_bar_nav li {
  padding-top: 15px;
}
