.content_container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 20px 200px;
}
.product_list_wrap {
  display: flex;
  flex-direction: column;
}
.product_list_section {
  text-align: center;
}
table {
  border-spacing: 30px;
  border-collapse: collapse;
  table-layout: fixed;
  word-break: break-all;
}
table th, table td {
  padding: 10px
}
table th {
  border-top: 2px solid #3b4890;
  border-bottom: 2px solid #3b4890;
}
table td {
  border-bottom: 1px solid #444444;
}
.product_list_section footer{
  padding-top: 15px;
  padding-bottom: 25px;
}
@media screen and (max-width: 1000px) {
  .content_container {
    grid-template-columns: none;
    height: auto;
    padding: 20px;
  }
}